
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
*.db
*.opendb
*.ipch
*.tlog
*.log
*.obj
*.pch
*.idb
*.pdb
*.exe
*.ilk
ConsoleApplication0425/.vs/ConsoleApplication0425/v15/.suo
*.sln
*.vcxproj
*.filters
*.user
*.cpp
*.cpp
*.vcxproj
*.filters
ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
*.filters
*.vcxproj
*.filters
